<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style.css" rel="stylesheet" type="text/css">
<title>Musti</title>
</head>
<body>
    <div id="element1">
        <img src="{{ url_for('static', filename= image_name ) }}" alt="Image">
    </div>
    <div id="element2">
        <p>foto: {{ classification_name }}</p>
        <p>klasse: {{ classification_result }}</p>
        <p>betrouwbaarheid: {{ probability }}</p>
    </div>
    <div id="element3">
        <form method="post">
            <input type="submit" value="Train">
        </form>
    </div>
</body>
</html>